.header {
  z-index: 5;
  position: relative;
}

.navbar {
  padding-top: 50px;
  position: static;
}

.container-fluid {
  flex-direction: column;
}

.navbar-collapse {
  @media (max-width: 991.98px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

//logo
.navbar-brand {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  img {
    width: 200px;
    height: auto;
    @media (max-width: 991.98px) {
      width: 150px;
    }
  }
}

//menù navigazione
.navbar-nav {
  width: 100%;
  justify-content: center;
  align-items: center;
  @media (max-width: 991.98px) {
    height: 100%;
    background-color: #fff;
  }
}

.nav-item {
  margin: 0 20px;
  text-transform: uppercase;

  .nav-link {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    &:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: .2s;
    }

    &:hover {
      &:after {
        width: 100%;
        transition: .4s;
      }
    }
  }
}

.nav-item.active {
  .nav-link {
    &:after {
      width: 100%;
    }
  }
}

.social-list {
  position: absolute;
  top: 0;
  right: 0;

  .social-item {
    display: inline-block;
    margin: 15px;

    img {
      width: 30px;
    }
  }

  @media (max-width: 991.98px) {
    z-index: 1;
    display: none;
    top: auto;
    right: auto;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: show-social-list;
    animation-duration: 1s;
  }
}

@keyframes show-social-list {
  from {
    bottom: -50px;
  }
  to {
    bottom: 10px;
  }
}

//bottoni menù mobile
.burger-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  border: none;

  img {
    width: 35px;
    height: auto;
    @media (max-width: 991.98px) {
      width: 30px;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    animation-name: show-burger-btn;
    animation-duration: .5s;

    img {
      background-color: #fff;
      box-shadow: 0px 0px 20px 10px #fff;
    }
  }
}

@keyframes show-burger-btn {
  from {
    right: -40px;
  }
  to {
    right: 0;
  }
}

.close-menu {
  z-index: 1;
  display: none;
  cursor: pointer;
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  animation-name: show-close-menu;
  animation-duration: .5s;

  img {
    width: 25px;
    height: auto;
  }
}

@keyframes show-close-menu {
  from {
    right: -40px;
  }
  to {
    right: 0;
  }
}