.page-home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &.show {
        overflow: visible;
    }
}
.hero {
    width: 100vw;
    height: 100vh;
    transition: height .8s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;

    .wrapper-swipe {
        position: absolute;
        top: calc((100% - #{$btn_swipe_height}) - 10px);
        left: 50%;
        // transition: top .5s;
        transform: translateX(-50%);
    }

    .swipe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $btn_swipe_width;
        height: $btn_swipe_height;
        font-weight: bold;
        cursor: pointer;
        border-radius: 50%;
        background-color: red;
        transition: transform .5s;
        &.touched {
            transform: scale(1.1);
            transition: .2s;
        }
    }
    &.height-0 {
        position: fixed;
        height: calc(#{$btn_swipe_height} + 20px);
        touch-action: none;
        .wrapper-swipe {

        }
        .swipe {
            transform: rotate(180deg);
        }
    }
}
