/**
 * ================================================================================
 * Foglio di stile Pagina Modelli
 * ================================================================================ */


/** Modelli
 * ======================================== */
.modelli {
  .cover-modello {
    max-height: 700px;
    object-fit: cover;
    @media (max-width: 1199.98px) {
      max-height: 500px;
    }

    &:hover {
      opacity: .8;
      transform: scale(1.1);
    }
  }

  .logo-modello {
    @media (max-width: 991.98px) {
      flex-direction: row !important;
    }

    .logo-image {
      @media (max-width: 991.98px) {
        width: 50%;
        margin-right: 20px;
      }
    }
  }
}

/** Animazioni
 * ======================================== */
.animated {
  opacity: 0;
  transition: transform 0.9s, opacity 0.6s;
  position: relative;

  &.right {
    transform: translateX(50%);
  }

  &.left {
    transform: translateX(-50%);
  }

  &.start-animation {
    opacity: 1;
    transform: translateX(0);
  }
}
