/**
 * ================================================================================
 * Foglio di stile principale
 * ================================================================================ */


/** Reset
 * ======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/** Dependencies
 * ======================================== */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'swiper/swiper-bundle.css';
@import "/node_modules/magnific-popup/dist/magnific-popup.css";

/** Fonts
 * ======================================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); // Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap'); // Lato

/** Variabili
 * ======================================== */
@import 'partials/_variables';

/** Parti comuni
 * ======================================== */
@import 'partials/_common';
@import 'partials/_header';
@import 'partials/_footer';

/** Pagine
 * ======================================== */
// @import 'pages/_default';
@import 'pages/_home';
@import 'pages/_modelli';
// @import 'pages/_offers';
// @import 'pages/_offer';
// @import 'pages/_reviews';

/** Templates
 * ======================================== */
@import 'templates/contact-form';

/** Fix per IE 11
 * ======================================== */
// @import 'partials/_ie';
